<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main__header">
        <nav class="main__nav">
            <ul class="main__Item">
                <li class="main__Item_List"><a class="active" href="/home">Home</a> </li>
                <li class="main__Item_List"><a href="/">Create Incident</a></li>
            </ul>
        </nav>
    </header>

    <h3>Welcome to the Home page bra</h3>
</body>
</html>