
main {
    padding: 1rem;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.main__header {
    width: 100%;
    height: 3.5rem;
    background-color: darkslategray;
    padding: 0 1.5rem;
}

.main__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main__Item {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main__Item_List {
    padding: 0;
    margin: 0 1rem;
}

.main__Item_List a{
    text-decoration: none;
    color: white;
}

.main__Item_List a:hover,
.main__Item_List a:active,
.main__Item_List a.active {
    color: red;
}